<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Soccer Player Stats Home Page</h1>
    <header>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href=""> Create/New</a></li>
        </ul>
    </header>

    <div class="container">
               <% players.forEach(players => { %>
                <h2><%=players.name; %></h2>
                <a href="/home/<%=players._id; %>"><img src="<%= players.img %>"></a>
               <% }) %>
    </div>

</body>

</html>