<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Player</title>
</head>
<body>
    <h1>Add a Player</h1>
    <form action="/home" method="POST">
        Name: <input type="text" name="name"/><br />
        Date of Birth: <input type:="date" name="dob" /><br />
        Nationality: <input type:="text" name="nationality" /><br />
        Image: <input type:="url" name="img" /> <br />
        Position: <input type:="text" name="position" /> <br /> 
        Team: <input type="text" name="team" /> <br /> 
        Overall: <input type="number" name="overall" /> <br /> 
        <input type="submit" name="" value="Submit" /> 
    </form>
    
</body>
</html>