*{
    box-sizing: border-box;
}
@media screen and (max-width: 767px){
    .player-name {
        font-size: 14px;
    }
}

img {
    align-content: flex-start;
} 

h1 { 
    text-align: center;
}
h2 { 
    text-align: center;
}
.show { 
    text-align: center;

}
.container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
ul { 
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #11c9d7;
    opacity: 0.5;
}
li { 
    float: left
}
li a { 
    display: inline-block;
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover { 
    background-color: whitesmoke;
}
body { 
    background-color: grey;
    
}