*{
    box-sizing: border-box;
}
@media screen and (max-width: 767px){
    .player-name {
        font-size: 14px;
    }
    .nav-bar { 

    }
}

img {
    align-content: flex-start;
} 

h1 { 
    text-align: center;
    padding-top: 10px;
}
.show { 
    text-align: center;

}
.container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.nav-bar { 
    /* position: fixed; */
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #11c9d7;
    opacity: 0.7;
}
li { 
    float: left
}
li a { 
    display: inline-block;
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover { 
    background-color: whitesmoke;
}
body { 
    background: url(/images/full-stadium.png) no-repeat;
    background-size: cover;
    background-color: teal;
    color: white;
}

footer { 
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    text-align: center;
    padding:10px;
    border-top: lightskyblue;
    border-style: solid;
    
}

.edit-page { 
    align-content: flex-start;
    text-align: center;
}



